# b/148033913
dontaudit fsck self:capability kill;

# b/151195350
dontaudit linkerconfig self:capability kill;

# b/152468658
dontaudit vdc self:capability kill;

dontaudit system_app system_suspend_control_internal_service:service_manager find;
dontaudit system_app system_suspend_control_service:service_manager find;
dontaudit system_app tracingproxy_service:service_manager find;
